+Modal({ title: 'Thông tin chi tiết', className: 'ModalApproverDetailDiary', id: 'ModalApproverDetailDiary', center: true, size: 'modal-lg' })
  .ModalApproverDetailDiary-body 
    .ModalApproverDetailDiary-title Cụm thông tin 1

    +Table({})
      tbody 
        tr 
          td #[strong Trạng thái phê duyệt xuất bản phẩm]
          td Duyệt
        tr 
          td #[strong Nội dung đánh giá]
          td Nội dung người duyệt nhập hiển thị tại đây Nội dung người duyệt nhập hiển thị tại đây Nội dung người duyệt nhập hiển thị tại đây Nội dung người duyệt nhập hiển thị tại đây 

  .ModalApproverDetailDiary-title Cụm thông tin 2

  +Table({})
      tbody 
        tr 
          td #[strong Trạng thái phê duyệt xuất bản phẩm]
          td Duyệt
        tr 
          td #[strong Tiêu đề của Ô điền text]
          td Nội dung người duyệt nhập hiển thị tại đây
        tr 
          td #[strong Tiêu đề của Khung nhập văn bản]
          td Nội dung người duyệt nhập hiển thị tại đây Nội dung người duyệt nhập hiển thị tại đây Nội dung người duyệt nhập hiển thị tại đây Nội dung người duyệt nhập hiển thị tại đây 
        tr 
          td #[strong Tiêu đề của Ô tích chọn nhiều lựa chọn]
          td Lựa chọn 1; Lựa chọn 2
        tr 
          td #[strong Tiêu đề của Ô chọn 1 trong các lựa chọn]
          td Lựa chọn 1
        tr 
          td #[strong Tiêu đề của Khung upload file]
          td 
            a(href="#").Table-link Tên-văn-bản-sau-khi-tải-lên.doc
        tr 
          td #[strong Tiêu đề của Ô chọn ngày với lịch]
          td 23/12/2022

        tr 
          td #[strong Nội dung đánh giá]
          td Nội dung người duyệt nhập hiển thị tại đây Nội dung người duyệt nhập hiển thị tại đây Nội dung người duyệt nhập hiển thị tại đây Nội dung người duyệt nhập hiển thị tại đây 
