.DatePicker {
  .flatpickr-input {
    flex: 1 !important;
  }

  &.with-arrow {
    .input-group-append {
      position: absolute;
      height: 100%;
      right: 0;
      pointer-events: none;
      background: #ffffff;
    }
  }
}