.FieldEditable {
  &.header {
    .FieldEditable {
      &-header {
        &-item {
          background: #F3F4F6;
          font-weight: 700;
        }
      }
    }
  }

  &-header {
    min-height: 40px;
    
    & + .accordion-collapse {
      min-width: 790px;
    }

    &-item {
      border-top: 1px solid #E7EAF3;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px 20px;
      color: #58637C;

      &:not(:last-child) {
        border-right: 1px solid #E7EAF3;
      }

      &.order {
        width: 90px;
        flex: 0 0 90px;
        max-width: 90px;
      }

      &.type {
        width: 210px;
        flex: 0 0 210px;
        max-width: 210px;
        column-gap: 8px;
      }

      &.name {
        flex: 1;
        min-width: 190px;
      }

      &.id {
        width: calc(120px + 180px);
        flex: 0 0 calc(120px + 180px);
        max-width: calc(120px + 180px);
      }

      // &:nth-child(1),
      // &:nth-child(2) {
      //   max-width: 25%;
      //   flex: 0 0 25%;
      // }

      // &:last-child {
      //   max-width: 50%;
      //   flex: 0 0 50%;
      // }

      // @media (max-width: 768px) {
      //   flex: 0 0 100% !important;
      //   max-width: 100% !important;
      //   border: none !important;

      //   &:not(:last-child) {
      //     border-bottom: 1px solid #E7EAF3 !important;
      //   }
      // }

      &-actions {
        &.disabled {
          opacity: 0;
          pointer-events: none;
        }

        .Button {
          font-size: 12px;
          padding: 4px;
          border-radius: 0;
          width: 28px;
          height: 28px;

          &:not(:first-child) {
            border-left: none;
          }

          &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }

          &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }

      &-collapse {
        &.disabled {
          opacity: 0;
          pointer-events: none;
        }

        .Button {
          font-size: 12px;
          padding: 4px;
          border-radius: 0;
          width: 28px;
          height: 28px;
        }
      }
    }
  }

  &-body {
    border-top: 1px solid #E7EAF3;
    padding: 15px;
  }

  &-empty {
    padding: 6px 20px;
    font-size: 14px;
    font-weight: 700;
    color: #8C98A4;
  }
}