.FieldEditable {
  &.header {
    .FieldEditable {
      &-header {
        background: #F9FBFF;

        &-item {
          font-weight: 700;
        }
      }
    }
  }

  &-header {
    border-top: 1px solid #E7EAF3;
    min-height: 40px;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      border-width: 3px;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px 20px;
      color: #58637C;

      &:not(:last-child) {
        border-right: 1px solid #E7EAF3;
      }

      &:nth-child(1),
      &:nth-child(2) {
        max-width: 25%;
        flex: 0 0 25%;
      }

      &:last-child {
        max-width: 50%;
        flex: 0 0 50%;
      }

      @media (max-width: 768px) {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        border: none !important;

        &:not(:last-child) {
          border-bottom: 1px solid #E7EAF3 !important;
        }
      }

      &-actions {
        .Button {
          font-size: 12px;
          padding: 4px;
          border-radius: 0;
          width: 28px;
          height: 28px;

          &:not(:first-child) {
            border-left: none;
          }

          &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }

          &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }

      &-collapse {
        .Button {
          font-size: 12px;
          padding: 4px;
          border-radius: 0;
          width: 28px;
          height: 28px;
        }
      }
    }
  }

  &-body {
    border-top: 1px solid #E7EAF3;
    padding: 15px;
  }
}