.JobCard {
  padding: 16px 12px;
  column-gap: 8px;

  &.dark {
    background: #F9FBFF;
  }

  &-order {
    position: relative;
    margin-right: 4px;

    span {
      font-size: 18px;
      line-height: 30px;
      font-weight: 700;
      font-family: 'Roboto Condensed', sans-serif;
      color: #BDC5D1;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #ffffff;
      position: relative;
      z-index: 2;
      letter-spacing: -2px;
      display: block;
      transform: translate(15%, 15%);
    }

    &::before {
      @include centerAbsolute;
      width: 24px;
      height: 24px;
      background: url('../icons/icon-book-spell.svg');
      background-size: cover;
      background-position: center;
      content: '';
      z-index: 1;
    }
  }

  &-info {
    &-header {
      column-gap: 8px;
      margin-bottom: 8px;

      &-title {
        flex: 1;
        @include ellipsis(1);
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        color: #58637C;
      }

      &-status {
        column-gap: 8px;

        .Button {
          width: 58px;
          padding: 2px 14px;
          font-size: 10px;
          font-weight: 400;
          line-height: 12px;
          border-radius: 4px;
        }
      }
    }

    &-body {
      &-text {
        column-gap: 4px;
        font-size: 13px;
        line-height: 18px;
        color: #58637C;
        margin-bottom: 4px;
      }
    }

    &-actions {
      column-gap: 10px;
      row-gap: 10px;
      padding-top: 8px;
      border-top: 1px dashed #E7EAF3;

      .Button {
        font-size: 12px;
        line-height: 16px;
        padding: 4px 8px;
        border-radius: 2px;
        white-space: nowrap;
        width: 70px;
      }
    }
  }
}