* {
  font-family: 'Roboto', sans-serif;
}

.main {
  background: #F3F4F6;

  .content {
    padding: .9375rem !important;
  }
}

.form-label {
  font-size: 14px;
  color: #1E2022;
  line-height: 20px;
  font-weight: 700;

  span.required {
    color: #ED4C78;
    font-weight: 600;
  }
}

.overflow-y-auto {
  overflow: hidden auto;
}