.ModalApproverDetailDiary {
  .modal-body {
    padding: 15px 32px;
  }

  &-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #1E2022;
    text-transform: uppercase;
  }

  .Table {
    margin-bottom: 30px;
  }
}