extends includes/layouts/Guest.pug

block header
  - const pageTitle = 'Xem trước người duyệt'

block pages
  .PreviewPage 
    .content.container-fluid
      .row 
        .col-lg-9
          +Card({ id: 'bieuin', noPadding: true })
            .PreviewPage-submit.d-flex.flex-wrap.border
              +Button({ title: 'Duyệt', icon: 'tio-checkmark-square-outlined mr-1', variant: 'btn-primary' })  
              +Button({ title: 'Từ chối', icon: 'tio-clear mr-1', variant: 'btn-soft-dark' })  
              +Button({ title: 'Comment', icon: 'tio-sms-chat-outlined mr-1', variant: 'btn-soft-dark' })  
              +Button({ title: 'In biểu', icon: 'tio-print mr-1', variant: 'btn-soft-dark' })  

            .PreviewPage-view-file

            #scrollSpyEnd

        .col-lg-3
          +ScrollSpy({
            showChildren: true,
            id: 'scrollSpy',
            parentId: 'scrollSpyParent',
            endId: 'scrollSpyEnd',
          })
            +Button({ className: 'w-100 border mb-3', title: 'Biểu số', icon: 'tio-laptop mr-1', size: 'btn-sm', variant: 'btn-soft-dark' })
            +Button({ className: 'w-100 border mb-3', title: 'Biểu in', icon: 'tio-print mr-1', size: 'btn-sm', variant: 'btn-soft-dark' })
            +Button({ className: 'w-100 border mb-3', title: 'Xem bản khai Xuất bản phẩm', icon: 'tio-document-text-outlined mr-1', size: 'btn-sm', variant: 'btn-soft-dark' })
          