extends includes/layouts/Guest.pug

block header
  - const pageTitle = 'Xem trước người duyệt'

block pages
  .PreviewPage 
    .content.container-fluid
      .row 
        .col-lg-9
          +Card({ id: 'bieuin', noPadding: true })
            .PreviewPage-submit.d-flex.flex-wrap.mb-3.border
              +Button({ title: 'Duyệt', icon: 'tio-checkmark-square-outlined mr-1', variant: 'btn-primary' })  
              +Button({ title: 'Từ chối', icon: 'tio-clear mr-1', variant: 'btn-soft-dark' })  
              +Button({ title: 'Comment', icon: 'tio-sms-chat-outlined mr-1', variant: 'btn-soft-dark' })  
              +Button({ title: 'In biểu', icon: 'tio-print mr-1', variant: 'btn-soft-dark' })  

            .PreviewPage-view-file

            #scrollSpyEnd

        .col-lg-3
          +ScrollSpy({
            title: 'Điều hướng trên trang',
            id: 'scrollSpy',
            parentId: 'scrollSpyParent',
            endId: 'scrollSpyEnd',
            options: [
              { link: '#bieuso', title: 'Biểu số' },
              { link: '#bieuin', title: 'Biểu in', active: true },
              { link: '#xembankhaixuatbanpham', title: 'Xem bản khai Xuất bản phẩm' },
            ]
          })
